src/main/java/com/avosh/baseproject/backchannel/soap/cartTransfer/cardTransfer.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sabapardazesh.com/ws/definitions" xmlns:sch="http://sabapardazesh.com/ws/definitions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sabapardazesh.com/ws/definitions">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://sabapardazesh.com/ws/definitions">
            <xs:element name="CardTransferRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="credential" nillable="false" type="tns:Credential"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="sourceCardNumber" nillable="false">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="\d{16}"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="1" name="destinationCardNumber" nillable="false">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="\d{16}"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="1" name="pin2" nillable="false">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="\d{5,12}"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="1" name="cvv2" nillable="false">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="\d{3,4}"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="1" name="expireYear" nillable="false">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="\d{2}"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="1" name="expireMonth" nillable="false">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="\d{2}"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="1" name="amount" nillable="false">
                            <xs:simpleType>
                                <xs:restriction base="xs:nonNegativeInteger"/>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CardTransferResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="resultCode" type="xs:string"/>
                        <xs:element name="resultDescription" type="xs:string"/>
                        <xs:element name="transactionNumber" type="xs:string"/>
                        <xs:element name="isoResultCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>    
            <xs:complexType name="Credential">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="Identity" nillable="false" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="Password" nillable="false" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="CardTransferRequest">
        <wsdl:part element="tns:CardTransferRequest" name="CardTransferRequest"/>
    </wsdl:message>
    <wsdl:message name="CardTransferResponse">
        <wsdl:part element="tns:CardTransferResponse" name="CardTransferResponse"/>
    </wsdl:message>
    <wsdl:portType name="SibService">
        <wsdl:operation name="CardTransfer">
            <wsdl:input message="tns:CardTransferRequest" name="CardTransferRequest"/>
            <wsdl:output message="tns:CardTransferResponse" name="CardTransferResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SibServiceSoap11" type="tns:SibService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CardTransfer">
            <soap:operation soapAction=""/>
            <wsdl:input name="CardTransferRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CardTransferResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SibServiceService">
        <wsdl:port binding="tns:SibServiceSoap11" name="SibServiceSoap11">
            <soap:address location="https://cb.tejaratbank.ir:443/service/cardTransferService/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>