src/main/java/com/avosh/baseproject/backchannel/soap/ibanInquiry/ibanInquiry.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sabapardazesh.com/ws/definitions" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sabapardazesh.com/ws/definitions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://sabapardazesh.com/ws/definitions">
            <xs:element name="IbanInquiryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="credential" nillable="false" type="tns:Credential"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="IBAN" nillable="false" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="nationalCode" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IbanInquiryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="resultCode" nillable="false" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="resultDescription" nillable="false" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="accountOwner" nillable="false" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="status" nillable="false" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="nationalCodeValidityStatus" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Credential">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="Identity" nillable="false" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="Password" nillable="false" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="IbanInquiryRequest">
        <wsdl:part element="tns:IbanInquiryRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="IbanInquiryResponse">
        <wsdl:part element="tns:IbanInquiryResponse" name="IbanInquiryResponse"/>
    </wsdl:message>


    <wsdl:portType name="SibService">
        <wsdl:operation name="IbanInquiry">
            <wsdl:input message="tns:IbanInquiryRequest" name="IbanInquiryRequest"/>
            <wsdl:output message="tns:IbanInquiryResponse" name="IbanInquiryResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SibServiceSoap11" type="tns:SibService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="IbanInquiry">
            <soap:operation soapAction=""/>
            <wsdl:input name="IbanInquiryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="IbanInquiryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="SibServiceService">
        <wsdl:port binding="tns:SibServiceSoap11" name="SibServiceSoap11">
            <soap:address location="https://cb.tejaratbank.ir:443/service/ibanInquiryService/"/>
        </wsdl:port>

    </wsdl:service>
</wsdl:definitions>