src/main/java/com/avosh/baseproject/backchannel/soap/balance/balance.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://sabapardazesh.com/ws/definitions"
                  xmlns:sch0="http://sabapardazesh.com/schema/balanceRequest"
                  xmlns:sch1="http://sabapardazesh.com/schema/balanceResponse"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://sabapardazesh.com/ws/definitions">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
                   elementFormDefault="qualified" targetNamespace="http://sabapardazesh.com/schema/balanceRequest"
                   xmlns="http://sabapardazesh.com/schema/balanceRequest">
            <xs:element name="BalanceRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Credential"/>
                        <xs:element ref="AccountNumber"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Credential">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Identity"/>
                        <xs:element ref="Password"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Identity" type="xs:string"/>
            <xs:element name="Password" type="xs:string"/>
            <xs:element name="AccountNumber" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
                   elementFormDefault="qualified" targetNamespace="http://sabapardazesh.com/schema/balanceResponse"
                   xmlns="http://sabapardazesh.com/schema/balanceResponse">
            <xs:element name="BalanceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ActualBalance"/>
                        <xs:element ref="AvailableBalance"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ActualBalance" type="xs:long"/>
            <xs:element name="AvailableBalance" type="xs:long"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="BalanceResponse">
        <wsdl:part element="sch1:BalanceResponse" name="BalanceResponse"/>
    </wsdl:message>
    <wsdl:message name="BalanceRequest">
        <wsdl:part element="sch0:BalanceRequest" name="BalanceRequest"/>
    </wsdl:message>
    <wsdl:portType name="SIBService">
        <wsdl:operation name="Balance">
            <wsdl:input message="tns:BalanceRequest" name="BalanceRequest"/>
            <wsdl:output message="tns:BalanceResponse" name="BalanceResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SIBServiceSoap11" type="tns:SIBService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Balance">
            <soap:operation soapAction=""/>
            <wsdl:input name="BalanceRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="BalanceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SIBServiceService">
        <wsdl:port binding="tns:SIBServiceSoap11" name="SIBServiceSoap11">
            <soap:address location="https://cb.tejaratbank.ir:443/ws/balanceService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>